name: validate

on:
  workflow_dispatch: {}
  push:
    branches: ["main"]
  pull_request:
    types:
    - opened
    - synchronize
    - reopened
    - ready_for_review

jobs:
  use_s3cmd:
    runs-on: ubuntu-latest
    name: Validate Project
    steps:
    - uses: actions/checkout@v2

    - name: install dependencies
      run: npm ci

    - name: verify dist is up to date
      run: bash -x .github/verify.sh

    - name: Run Tests
      run: npm run test

    - name: configure local
      uses: ./
      with:
        provider: linode
        region: us-east-1
        access_key: supersecret
        secret_key: supersecret

    - name: check that s3cmd works
      run: s3cmd --dump-config
